HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Spring Boot ###
*.log
*.gz
.env
application-*.properties
application-*.yml
!application.properties
!application.yml
!application-test.properties
!application-test.yml

### Build and Runtime ###
bin/
log/
logs/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Database ###
*.db
*.sqlite
*.sqlite3
*.mdb

### Cache and Temporary ###
.gradle/
.temp/
.cache/
temp/
tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
### Eclipse ###
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.class       

### VS Code ###
.vscode/


### Mac OS ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must be 32x32
Icon?